<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanish Sahara</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="bsod container">
        <h1 class="neg title"><span class="bg">Lista de usuarios</span></h1>
        <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        <% users.forEach(user =>{ %>
        <tr>
            <td><%= user.id %>  </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <a class="linkcool" href="/edit?id=<%= user.id %>" class="link">Editar</a>&nbsp;
                |&nbsp;<a class="linkcool" href="/delete?id=<%= user.id %>" class="link">Eliminar</a>
            </td>
        </tr>
        <% }); %>
        </table>
        <br>
        
        <!-- agregar usuario -->
        <form action="/add" method="post">
         <table style="border: none; width: 60%;">
        <tr>
            <td style="border: none; padding: 0px;">
                <label for="name">Nombre:</label>
                <div style="text-align: center;">
                    <input style="width: 100%;" type="text" id="name" name="name" required>
                </div>
                
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 0px;">
                <label for="email">Correo:</label>
                <div style="text-align: center;">
                    <input style="width: 100%;"type="email" name="email" id="email" required>
                </div>
            </td>
        </tr>
        <tr>
            
            <td style="border: none; padding: 0px;">
                <br>
                    <button class="buttoncosa" type="submit">Agregar</button> 
                
            </td>
        </tr>
        </table>
        </form>
        
    </main>
    
</body>
</html>